
module alpine-seedbox 1.0;

require {
	type config_home_t;
	type container_t;
	type kernel_t;
	class file { open read };
	class system module_request;
	class tun_socket create;
}

#============= container_t ==============
allow container_t config_home_t:file { open read };
allow container_t kernel_t:system module_request;
allow container_t self:tun_socket create;
